html, body{
	min-height: 100%;
	font-weight: 300;
	font-family: 
}

.main {

}

.main.start {

}

.main.restaurant_intro{

}

.main.vote {

}

.main.result{
	
}

.restaurant_name{

}

.restaurant_description{

}

.button{

}

.button.button_yes{

}

.button.button_no{

}
