/*
	Color Theme:
		6D7C7F: grey
		A9EEFF: sky blue
		DAF8FF: white-ish
		5C787F: navy
		AFC6CC: light-grey
	Font Theme:
		Title/Header: Bowlby One SC
		Paragraph Font: Happy Monkey
 */
:root{
	--grey: #6D7C7F;
	--sky_blue: #A9EEFF;
	--white: #DAF8FF;
	--navy: #5C787F;
	--light_grey: #AFC6CC;
}

html, body{
	padding: 0;
	margin: 0;

	font-weight: 100;
	font-family: 'Noto Sans KR', sans-serif;
}

a{
	text-decoration-style: none;
	text-decoration-line: none;
	color: var(--white);
}
p{	
	text-align: center;
}

.title {
	margin-top: 5;
	color: var(--white);		
	font-size: 50px;
	font-weight: 100;
}

/* Home Page */

.home {
	align-self: center;
	margin: 5% 10% 5% 10%;
	position: fixed;
	height: 80%;
	width: 80%;
	
	background-color: rgba(0, 0, 0, 0.5);
	
	text-align: center;
}

.content {
	width: 100%;
	height: 100%;
	margin: 10;
}

.content a {
	width: 25%;
	height: 40%;
	margin: 5% 10% 5% 10%;
	
	border: 2px solid var(--grey);
	border-radius: 10px;
	
	background-color: var(--grey);
	align-self: center;
	
	text-align: center;
	font-size: 32px;
	font-size-adjust: 0.58;
}

.content a:hover {
	border: 2px solid var(--light_grey);
	background-color: var(--light_grey);
	color: black;
}

/* End Home Page */

/* Navigation Bar */

.navigation {
	overflow: hidden;
	background-color: black;
}

.navigation a {
	float: right;
	padding: 14px 16px;
	
	color: var(--white);
	text-align: center;
	font-size: 17px;
	text-decoration: none;
}

.navigation a:hover {
	background-color: var(--light_grey);
	color: black;
}

.navigation a.nav_home {
	float: left;
	background-color: var(--navy);
}

/* End Navigation Bar */

.main.vote {
	
}

.main.result{
	
}

.restaurant_name{
	font-size: 40px;
	font-weight: 100;
	color: var(--light_grey);
}

.restaurant_description{
	font-size: 14px;
	color: var(--light_grey);
}
