<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

{% block author %}Clarinda{% endblock %}
{% block title %}: Page Not Found{% endblock %}
{% block og_title %}: Page Not Found{% endblock %}
{% block description %}Error 404: Page Not Found{% endblock %}
{% block og_description %}Error 404: Page Not Found{% endblock %}

{% block body %}
	<div class="error">
		<h1 class="error_title">Error 404</h1>
		<p class="error_text"> Sorry, this page could not be found.</p>
	</div>
{% endblock %}

</html>
