<!DOCTYPE html>
<html lang="en">

{% extends "base.html" %}

{% block author %}Clarinda{% endblock %}
{% block title %}: Page Not Found{% endblock %}
{% block og_title %}: Page Not Found{% endblock %}
{% block description %}Error 404: Page Not Found{% endblock %}
{% block og_description %}Error 404: Page Not Found{% endblock %}

{% block body %}
	<div class="home">
		<h1 class="home_title" style="margin-left: 5%; text-align: left;">Error 404</h1>
		<p class="home_text" style="margin-left: 5%; text-align: left;"> Sorry, this page could not be found.</p>
	</div>
{% endblock %}

</html>
