<!DOCTYPE html>

<html lang="en">

{% extends "base.html" %}

{% block author %}Clarinda{% endblock %}
{% block title %}: Create Group{% endblock %}
{% block og_title %}: Create Group{% endblock %}
{% block description %}Create groups for voting on restaurants.{% endblock %}
{% block og_description %}Create groups for voting on restaurants.{% endblock %}

{% block body %}
	<div class="home">
		<h1 class="home_title">Create New Group</h1>
		<div class="home_content">
			<!-- ZIP Code -->
			<div class="creategroup_zipcode">
				<form action="/group/create" method="POST">
					Location: <input type="number" name="zipcode" placeholder={% if zipcode %}"{{ zipcode }}" disabled {% else %}"10001"{% endif %}><br>
				</form>
			</div>
			
			<!-- Cuisine Types -->
			{% if cuisines %}
				<br>
				<div class="creategroup_cuisine">
					<form action="/group/create/{% if zipcode %}{{ zipcode }}{% endif %}" method="POST">
						Cuisine Types:
						{% for cuisine in cuisines %}
							<br>
							<input type="checkbox" name="{{ cuisine }}" {% if selected_cuisines %}{%if cuisine in selected_cuisines %}checked{% endif %} disabled{% endif %}>
							<span class="checkmark"></span>
							<label class="cuisines">{{ cuisine }}</label>
						{% endfor %}
						
						<br><input type="submit" class="submit" value="Submit" {% if selected_cuisines %}disabled{% endif %}>
					</form>
				</div>
			{% endif %}
			
			<!-- Group Code and Start Voting Button -->
			{% if crew_id %}
				<br>
				<label class="creategroup_text">Group Code: </label>
				<label class="creategroup_groupcode">{{ crew_id }}</label>
				
				<form action="/voting/start" method="GET">
					<br><input type="submit" class="submit" value="Start Voting">
				</form>
			{% endif %}
		</div>
	</div>
{% endblock %}

</html>