<!DOCTYPE html>

<html lang="en">

{% extends "base.html" %}

{% block author %}Seohyun{% endblock %}
{% block title %}: Join Group{% endblock %}
{% block og_title %}: Join Group{% endblock %}
{% block description %}Join existing groups for voting on restaurants.{% endblock %}
{% block og_description %}Join existing groups for voting on restaurants.{% endblock %}

{% block body %}
	<div class="home">
		<h1 class="home_title">Join Existing Group</h1>
		<div class="home_content">
			<!-- Group Code -->
			<div class="creategroup_text" style="margin-top: 10%; margin-left: 33%;">
				<form action="{{ url_for('wait_user') }}" method="post" style="margin-bottom: 10%;">
					Enter Group Code: 
					<input type="text" class="textentry" name ="group_code"><br>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
</html>