<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

{% block author %}Seohyun{% endblock %}
{% block title %}{% endblock %}
{% block og_title %}{% endblock %}
{% block description %}{{ super() }}{% endblock %}
{% block og_description %}{{ super() }}{% endblock %}

{% block body %}
	<div class="home">
		<h1 class="home_title">{restaurant['name']}</h1>
		<div class="content" style="color: white;">
			<!--Still thinking about how to display this
				Don't worry about this part-->
			cusine type: {{restaurant['cuisine']}}<br>
			address: {{restaurant['address']}}<br>
		</div>
		<form action="{{url_for('vote_for')}}" method='post' style="float: left;">
			<input type="submit" value="Good" style="">
			<input value="{{crew_id}}" name="crew_id">
			<!--Here is where I intend to add restaurant id
				which I cannot locate						-->
			<!--input value="{{}}" name="restaurant_id"-->
			<input value="{{index}}" name="index">
			<input value="{{group_leader}}" name="group_leader">
		</form>
		<form action="{{url_for('vote_against')}}" method='post' style="float: right;">
			<input type="submit" value="Bad" style="">
			<input value="{{crew_id}}" name="crew_id">			
			<input value="{{index}}" name="index">
			<input value="{{group_leader}}" name="group_leader">
		</form>
	</div>
{% endblock %}
</html>
